<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/software/compiler/cmake/3.2.3/bin/cmake"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-DCMAKE_BUILD_TYPE=debug&#10;-DCUDA_DEVICE_DEBUGGING:BOOL=OFF&#10;-DUSE_OPENGL:BOOL=ON&#10;-DUSE_MPI:BOOL=OFF&#10;-DUSE_B40C:BOOL=ON&#10;-DUSE_DUST:BOOL=OFF&#10;../runtime"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/Bonsai/build_host_debug_gnu}"/>
</launchConfiguration>
